PORT=3000
NODE_ENV=development
SESSION_SECRET=readers-africa-session-secret
ADMIN_EMAIL=admin@readers.africa
ADMIN_PASSWORD=admin
APP_URL=http://localhost:3000
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=174379
MPESA_ENV=sandbox
