PORT=3000
NODE_ENV=development
SESSION_SECRET=readers-africa-session-secret
ADMIN_EMAIL=admin@readers.africa
ADMIN_PASSWORD=admin
APP_URL=http://localhost:3000
MPESA_CONSUMER_KEY=A2Fk5fP9T9pDBPhtDxUAngSdAu2BwerYJJGQwwTgWhOAdBxF
MPESA_CONSUMER_SECRET=q0lHZd8QxwA8K99FJaUb7xOR0Pt36BCafUeKRCUljE8eSF7zB8faicMd2whYe1Je
MPESA_SHORTCODE=174379
MPESA_ENV=sandbox
